<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
	<div class="container">
		<table>
            <tr>
                <th>Activities</th>
                <th>Distance from your location</th>
            </tr>
            <%if(test != null){test.data.forEach(function(data){%>
            <tr>
                <td><%-data.name%></td>
                <td><%-data.distance%></td>
            </tr>
            <%})}%>
        </table>

		<form action="/discoverData" method="GET">
			<label for="Latitude">Latitude</label>
			<input name="latitude" type="text" id="latitude"/>
		
			<label for="Longitude">Longitude</label>
			<input type="text" name="longitude" id="longitude"/>
			
			<button type="submit">Find</button>
		</form>

</main>

<%- include ('../partials/footer') %>