<%- include ('../partials/header') %> <%- include ('../partials/menu') %>
<%-include ('../partials/message') %>

<script>
    function test() {
        console.log("ASDASD", document.getElementById("endDate").value);
        console.log("ASDASD", document.getElementById("endDate").value);
    }

    async function addEvent(event, dates) {
        eventData = JSON.parse(event);
        dateData = JSON.parse(dates);

        const activity_title = eventData.name;
        const description = eventData.description;
        const location = eventData.address_obj.city;
        const endDate = dateData.endDate;
        const startDate = dateData.startDate;

        const body = {
            activity_title,
            description,
            location,
            endDate,
            startDate,
        };

        const response = await fetch("/discover/add", {
            method: "POST",
            headers: { "Content-type": "application/json" },
            body: JSON.stringify(body),
        });

        const jsonData = await response.json();

        console.log(jsonData);

        return false;
    }
</script>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin-top: 5%">
                <form action="/discoverData" method="GET">
                    <div class="form-group" style="margin-bottom: 3%">
                        <label for="latitude">Latitude</label>
                        <input
                            name="latitude"
                            type="text"
                            class="form-control"
                            id="latitude"
                        />
                        <p class="form-text" align="top-right">
                            Find latitude and longitude:
                            <a href="https://www.latlong.net/" target="_blank"
                                >Here</a
                            >
                        </p>
                    </div>

                    <div class="form-group" style="margin-bottom: 3%">
                        <label for="longitude">Longitude</label>
                        <input
                            type="text"
                            name="longitude"
                            class="form-control"
                            id="longitude"
                        />
                    </div>
                    <div class="form-group" style="margin-bottom: 1%">
                        <label for="radius" class="form-label">Radius</label>
                        <select
                            name="radius"
                            id="radius"
                            class="form-select"
                            required
                        >
                            <option selected disabled value="">
                                Choose...
                            </option>
                            <option value="50">50 mi</option>
                            <option value="100">100 mi</option>
                            <option value="250"> 250 mi</option>
                            <option value="300">300 mi</option>
                        </select>
                    </div>

                    <div class="form-group" style="margin-bottom: 3%">
                        <label for="prefWeather" class="form-label"
                            >Preferred Weather</label
                        >
                        <select
                            name="prefWeather"
                            id="prefWeather"
                            class="form-select"
                            required
                        >
                            <option selected disabled value="">
                                Choose...
                            </option>
                            <option value="Clouds">Clouds</option>
                            <option value="Clear">Clear</option>
                            <option value="Snow">Snow</option>
                            <option value="Rain">Rain</option>
                        </select>
                    </div>

                    <div class="form-group" style="margin-bottom: 3%">
                        <label for="startDate">Start Date</label>
                        <div
                            id="datepicker"
                            class="input-group date"
                            data-date-format="mm-dd-yyyy"
                        >
                            <input
                                name="startDate"
                                id="startDate"
                                class="form-control"
                                type="text"
                                readonly
                            />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 3%">
                        <label for="endDate">End Date</label>
                        <div
                            id="datepicker2"
                            class="input-group date"
                            data-date-format="mm-dd-yyyy"
                        >
                            <input
                                name="endDate"
                                id="endDate"
                                class="form-control"
                                type="text"
                                readonly
                            />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Find</button>
                    <button
                        type="button"
                        onclick="test()"
                        class="btn btn-primary"
                    >
                        test
                    </button>
                </form>
            </div>
            <div class="col-md-8" style="margin-top: 5%">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <% if(data && data.length > 0) { data.forEach((event) => {
                    %>
                    <div class="card" style="margin-bottom: 3%">
                        <div class="card-body">
                            <h5 class="card-title"><%- event.name %></h5>
                            <img class="card-img-top" src="<%=event.url !== '' ? event.url : 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1200px-No_image_available.svg.png'%>" alt="Image">
                            <p class="card-text"><%= event.description %></p>
                            <p class="card-text">
                                City: <%= event.address_obj.city %>
                            </p>
                            <a
                                href="<%= event.web_url %>"
                                class="btn btn-primary"
                                target="_blank"
                                >View</a
                            >
                            <button
                                type="button"
                                onclick="addEvent('<%=JSON.stringify(event)%>', '<%=JSON.stringify(dates)%>')"
                                class="btn btn-success"
                            >
                                Add
                            </button>
                            <!-- Add more card content if needed -->
                        </div>
                    </div>
                    <% }); } else { %>
                    <div class="text-center">
                        <p
                            class="display-4"
                            style="
                                height: 50%;
                                margin-top: 75%;
                                margin-right: -200%;
                            "
                        >
                            No Results
                        </p>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
